/Interface1$1.class
/Interface1$Formula.class
/Interface1.class
/Lambda1$1.class
/Lambda1.class
/Lambda2$Converter.class
/Lambda2$PersonFactory.class
/Lambda2$Something.class
/Lambda2.class
/Lambda3$Fun.class
/Lambda3.class
/Lambda4.class
/Person.class
