<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/Users/Vaquar khan/Documents/workspace-sts-3.6.1.RELEASE/spring-doge-master"/>
</launchConfiguration>
