<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java8-Examples/src/main/java/com/winterbe/java8/Streams1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.java.com.winterbe.java8.Streams1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java8-Examples"/>
</launchConfiguration>
